<!DOCTYPE html>
<html>
  <head>
    <title>Jovian Career</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
      #banner{
        height: 360px;
        width: 100%;
        object-fit:cover;
      }
    </style>
  </head>
  <body>
    <div class='container'>
      <h1 class="text-center mt-2 mb-4">Jovian Career</h1>
      <img class="img-fluid" id="banner" src="https://flask-website-test-1.sandunwijethung.repl.co/static/banner.jpg" >
      
      <h2 class="text-center mt-2 mb-4">About Jovian</h2>
      <p class="lead">
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
      </p>
      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      <div>
        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
      </div>
      <div class="text-center">
      <button class="btn btn-primary btn-lg">Contact Us</button>
        <p class="mt-4">Copyright 2023, Jovian</p>
      </div>
    </div>
  </body>
</html>